<form role="form">
    <div class="form-group">
        <label for="product-name">產品名稱</label>
        <input type="text" class="form-control" id="product-name" placeholder="產品名稱">
        <p id="product-name-warning" class="text-warning"></p>
        <label for="product-count">庫存</label>
        <input type="number" class="form-control" id="product-count" placeholder="1~9999">
        <p id="product-count-warning" class="text-warning"></p>
        <label for="product-price">價錢</label>
        <input type="number" class="form-control" id="product-price" placeholder="1~99999">
        <p id="product-price-warning" class="text-warning"></p>
        <label for="product-comment">描述</label>
        <textarea class="form-control" rows="3" id="product-comment"></textarea>
        <p id="product-comment-warning" class="text-warning"></p>
        <label >圖片</label>
        <img class="img-responsive" src="http://localhost/xn/resource/img/595prodImg20180823033204_1.jpg" alt="尚未選擇圖片"  width="250" height="250">
        <br/>
        <input id="product-img" type="file">
        <p id="product-img-warning" class="text-warning"></p>
    </div>
</form>
