{{extends file="master.html"}}

{{block name="stylesheet"}}
<link rel="stylesheet" href="http://localhost/xn/css/client.css">
{{/block}}

{{block name="title"}}
XN
{{/block}}

{{block name="body"}}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">XiaoNon農場</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="m-cart" href="">我的菜籃<span class="badge"></span></a></li>
                {{if $user_name}}
                <li><a id="m-order" href="">我的訂單</a></li>
                {{/if}}
                <li class="dropdown">
                    <a id="user-name" href="" class="dropdown-toggle" data-toggle="dropdown">
                        {{if $user_name}}
                        {{$user_name}}
                        {{else}}
                        會員
                        {{/if}}
                        <b class="caret"></b>
                    </a>
                <ul class="dropdown-menu">
                    {{if $user_name}}
                    <li><a id="user-logout-a" href="#">登出</a></li>
                    {{else}}
                    <li><a id="register-a" data-toggle="modal" href="#modal">註冊</a></li>
                    <li><a id="user-login-a" data-toggle="modal" href="#modal">登入</a></li>
                    {{/if}}
                </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div id="index-main" class="container">
    {{block name="client-main"}}
    {{/block}}
</div>

{{/block}}

{{block name="script" append}}
<script src="http://localhost/xn/js/client.js" defer></script>
{{/block}}