{{extends file="client.html"}}

{{block name="title"}}
Order
{{/block}}

{{block name="client-main"}}

<h3>我的訂單</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>訂單編號</th>
            <th>訂單創建時間</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {{foreach $orders as $order}}
        {{include "order-unit.html" order=$order}}
        {{/foreach}}
    </tbody>
</table>

{{/block}}

{{block name="script" append}}
<script src="http://localhost/xn/js/order.js" defer></script>
{{/block}}