<br />
<div class="panel panel-default">
    <div class="panel-body">
        <form id="login-form" role="form">
            <legend>登入</legend>
            <div class="form-group">
                <label for="account">電子郵件或手機</label>
                <input type="text" id="account" class="form-control" placeholder="電子郵件或手機">
                <p id="account-warning" class="text-warning"></p>
                <br />
                <label for="password">密碼</label>
                <input type="password" id="password" class="form-control" placeholder="設定密碼">
                <p id="password-warning" class="text-warning"></p>
            </div>
            <br />
            <p id="login-failed" class="text-danger"></p>
        </form>
    </div>
</div>